

img {
  margin-right: 800px;
} 
main {
  /*  margin-top:200px; */
  margin: 100px auto 100px auto ;
  width: 1200px;
  height:1500px;
  border-radius: 70px;
  padding-top: 5px;
  background-color: #ffff; 
  box-shadow: -3px -3px 20px 20px rgb(240, 240, 240)

}
.name { 
width: 250px;
height:170 px; 
float: left; 
padding: 20px 20px 20px 50px;

}
.test {
  padding-top: 100px;

} 
.name1 { 
  width: 300px;
  height:170 px; 
  float: left; 
  padding: 0px 20px 20px 20px;
  }
.box{
  width: 1080px;
  height:200 px; 
  border-top: 1px solid  #ffdf90 ; 
  margin-top: 400px; 
  font-size: 150%;

padding: 20px 20px 20px 100px;

}
h2{
   margin-right: 130px;
   margin-top: -10px;
   padding-top: 0px;
   color: #404040 ;
 font-family: arial ;
 font-size: 220%;
 }
 
h1{
 color: #E6B63B  ;
 font-family: Arial;
 font-size: 300%;
}
h3{
 color: #E6B63B  ;
 font-family: Arial;
 font-size: 250%;
}
 .text1{
  width: 300px;
  height:200 px;  
  margin-left: 105px;
  margin-top: 10px; 
  margin-right: 150px;
padding: 20px 20px 20px 20px;
font-size: 180%;
display: inline-block;
font-family: arial;
color: #404040 ;  
 }
 .text2{
  width: 300px;
  height:200 px;  
  margin-left: 105px;
  margin-top: 10px; 
  margin-right: 150px;
padding: 20px 20px 20px 20px;
font-size: 180%;
display: inline-block;
font-family: arial; 
color: #404040;  
 }

.button{
 width: 200px;
 height: 20px; 
 margin-left: 250px;
 margin-top: 100px; 
padding: 20px 20px 20px 20px;
font-size: 80%;
font-family: arial; 
text-align: center;
display: inline-block;
color: #E6B63B ;
border-radius: 70px;
background-color: #ffff; 
box-shadow: -3px -3px 10px 10px rgb(240, 240, 240);
}
 .icons 
 {
  width: 830px;
  height:200 px;  
  margin-top: 200px; 
  margin-right: 200px;
  
padding: 20px 20px 20px 350px;
border-top: 1px solid   #ffdf90;
 }
 .x{
   display: flex;
 }


 

 


